.text-teal {
  color: #008080;
}

.btn-teal {
  background-color: #008080;
  color: #fff;
  border: none;
}
.btn-teal:hover {
  background-color: #006666;
}

.btn-outline-teal {
  border: 2px solid #008080;
  color: #008080;
}
.btn-outline-teal:hover {
  background-color: #008080;
  color: #fff;
}

.table-teal {
  background-color: #008080;
}
